*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.container{
    width: 100%;
    height: 950px;
    background: #e5e0e0;
    border: 1px black solid;
}
.logo-nav{
    margin: 20px 40px 10px;
    background: #a9a3a3;
    width: calc(100% - 80px);
    height: 50px;
    display: flex;
    align-items: center;
}
.logo{
    width: 40%;
    margin-left: 50px;
}
.nav{
    width: 60%;
    margin-left: 700px;
    /*text-align: center;*/
}
.header{
    margin: 10px 40px 5px;
    width: calc(100% - 80px);
    height: 150px;
    background: #a9a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro{
    margin: 10px 40px 10px;
    width: calc(100% - 80px);
    height: 100px;
    background: #a9a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    margin: 20px 40px 10px;
    width: calc(100% - 80px);
    height: 500px;
    background: #e5e0e0;
    display: flex;
}

.box-content{
    margin: 10px 0;
    float: left;
    width: calc(100% / 3 + 3px);
    height: 100%;
    background: #a9a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    margin: 30px 40px;
    width: calc(100% - 80px);
    height: 50px;
    background: #a9a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mr-5 {
    margin-right: 15px;
}